<?xml version="1.0"?>
<config>
    <modules>
        <Lading_Api>
            <version>1.1</version>
        </Lading_Api>
    </modules>
    <frontend>
        <routers>
            <Mobileapi>
                <use>standard</use>
                <args>
                    <module>Lading_Api</module>
                    <frontName>mobileapi</frontName>
                </args>
            </Mobileapi>
        </routers>
    </frontend>
</config>

